In [28]:
import pandas as pd
import numpy as np

In [39]:
homeless_df = pd.read_csv('homelessness.csv')

In [40]:
homeless_df.head()

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [53]:
# Add total col as sum of individuals and family_members
homeless_df["total"] = homeless_df["individuals"] + homeless_df["family_members"]

In [58]:
# calculate the % of homeless people per state
def cal_homeless_ratio(individuals, total):
    homeless_ratio = individuals / total
    return homeless_ratio

In [59]:
%%timeit
homeless_ratio_list = []
for i in range(len(homeless_df)):
    row = homeless_df.iloc[i]
    individuals = row['individuals']
    total = row['total']

    homeless_ratio = cal_homeless_ratio(individuals, total)
    homeless_ratio_list.append(homeless_ratio)
homeless_df['homeless_ratio'] = homeless_ratio_list

15.3 ms ± 2.26 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [60]:
homeless_df.head(10)

,Unnamed: 0,region,state,individuals,family_members,state_pop,homeless_ratio,total
0,0,East South Central,Alabama,2570.0,864.0,4887681,0.748398,3434.0
1,1,Pacific,Alaska,1434.0,582.0,735139,0.711310,2016.0
2,2,Mountain,Arizona,7259.0,2606.0,7158024,0.735834,9865.0
3,3,West South Central,Arkansas,2280.0,432.0,3009733,0.840708,2712.0
4,4,Pacific,California,109008.0,20964.0,39461588,0.838704,129972.0
5,5,Mountain,Colorado,7607.0,3250.0,5691287,0.700654,10857.0
6,6,New England,Connecticut,2280.0,1696.0,3571520,0.573441,3976.0
7,7,South Atlantic,Delaware,708.0,374.0,965479,0.654344,1082.0
8,8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.546060,6904.0
9,9,South Atlantic,Florida,21443.0,9587.0,21244317,0.691041,31030.0

In [62]:
%%timeit
homeless_ratio_list = []
for i, row in homeless_df.iterrows():
    individuals = row['individuals']
    total = row['total']
    
    homeless_ratio = cal_homeless_ratio(individuals, total)
    homeless_ratio_list.append(homeless_ratio)
homeless_df['homeless_ratio'] = homeless_ratio_list

7.57 ms ± 877 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [65]:
%%timeit
homeless_ratio_list = []
for row in homeless_df.itertuples():
    individuals = row.individuals
    total = row.total

    homeless_ratio = cal_homeless_ratio(individuals, total)
    homeless_ratio_list.append(homeless_ratio)
homeless_df['homeless_ratio'] = homeless_ratio_list

1.24 ms ± 49.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [69]:
%%timeit
homeles_ratio = homeless_df.apply(
    lambda row: cal_homeless_ratio(row['individuals'], row['total']), axis=1)
homeless_df['homeless_ratio'] = homeles_ratio

2.96 ms ± 181 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [67]:
%%timeit
homeless_ratio_df = homeless_df['individuals'].values - homeless_df['total'].values
homeless_df['homeless_ratio'] = homeless_ratio_df

172 µs ± 13.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)